<div class="container">
    <div fxLayout="column" fxLayoutAlign="start center">
        <h1>{{trip?.name}}</h1>
        <p>Kraj docelowy: {{ trip?.destination }}</p>
        <p>Cena: {{ trip?.price | currency:"PLN":"symbol"}}</p>
        <p>Całkowita ilość miejsc: {{ trip?.totalPlaces }}</p>
        <p>Ilość dostępnych miejsc: {{ trip?.availablePlaces }}</p>
        <p>Ocena uczestników</p>
        <app-star-rating [(value)]="rate" [editable]="false"></app-star-rating>
        <p>Opis</p>
        <p class="flex-container">{{ trip?.description }}</p>
    
        <carousel [images]="images" [cellWidth]="'100%'" [height]="400" [width]="800"></carousel>
    
    </div>
    <app-review-section></app-review-section>

</div>