<mat-card class="mat-elevation-z4" [ngClass]="{'border-red': isMostExpensive, 'border-green': isCheapest}">
    <div class="flex-row">
        <div class="flex-image">
            <img src={{trip.imageUrl}} [routerLink]="['/trips', trip.id]">
        </div>
        <div class="flex-trip-content">
            <span *ngIf="isAdmin">
                <button mat-icon-button color="warn" aria-label="Usuń wycieczkę" (click)=removeTrip() class="action-button">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Modyfikuj wycieczkę" (click)=updateTrip() class="action-button">
                    <mat-icon>edit</mat-icon>
                </button>
            </span>
            <mat-card-header class="card-content-header">
                <mat-card-title>{{trip.name | uppercase}}</mat-card-title>
                <mat-card-subtitle>{{trip.destination | uppercase}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="trip-description">
                    {{trip.description}}
                </div>
                <div class="trip-details">
                    <p><b>Cena:</b> {{trip.price | currency}}</p>
                    <p><b>Termin wyjazdu:</b> {{trip.startDate}} - {{trip.endDate}}</p>
                    <p *ngIf="!isSoldOut(); else showSoldOutMessage"
                        [style.color]="isAlmostSoldOut() ? 'orange' : 'green'">Ilość dostępnych miejsc:
                        {{trip.availablePlaces}}</p>
                    <ng-template #showSoldOutMessage>
                        <p class="trip-soldout-message">Brak wolnych miejsc!</p>
                    </ng-template>
                </div>
                
            </mat-card-content>

            <mat-card-actions>
                <app-star-rating [(value)]="trip.rate" [editable]="false"></app-star-rating>
                <button mat-raised-button class="action-button" color="primary" [disabled]="trip.availablePlaces == 0"
                    (click)="addReservation()">+</button>
                <button mat-raised-button class="action-button" color="primary"
                    [disabled]="trip.availablePlaces == trip.totalPlaces" (click)="removeReservation()">-</button>
            </mat-card-actions>
        </div>
    </div>
</mat-card>