.nav-button {
    color: white;
}

.nav-button:hover {
    color: yellow;
}

.float-right {
    float: right;
}

.fill-remaining-space {
    flex: 1 1 auto;
  }

  .nav-button:visited {
      color: white;
  }

span:hover {
    cursor: pointer;
}