.trip-list{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.flex-row {
display: flex;
flex-direction: row;

}

.flex-image {
    flex: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    > img {
        text-align: center;
        max-width:100%;
        max-height:100%;
        border-radius: 50%;
        object-fit: cover;
        width: 300px;
        height: 300px;
    }
}

.mat-card {
    background-color: floralwhite;
}

.flex-trip-content {
    flex: 60%;
    padding: 10px;
}

.container {
    max-width: 800px;
}

.card-content-header {
    justify-content: center;
    align-items: center;
}

.trip-soldout-message {
    color: red;
    font-weight: bold;
}

.trip-details {
    justify-content: right;
    > p {
        text-align: right;
    }
}

.action-button {
    float: right;

}

.mat-card-actions {
    padding: 10px;
}

.trip-description {
    text-align: center;
    margin-bottom: 20px;
}

.total-reservations {
    text-align: center;
}

.mat-card-subtitle {
    text-align: center;
}

.border-green {
    border: 5px solid green;
}

.border-red {
    border: 5px solid red;
}


.filter-sidenav {
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-left: 10px;
  }


.main-content {
    min-height: 1000px;
    width: 65%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
