.big-input {
    width: 100%;
}

.container {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

.rating-bar {
    font-size: 10px;
}

.comment {
    width: 400px;
    margin: 16px;
}